/*====================================================================
======================================================================  
    Root Elements
======================================================================
====================================================================*/

:root {
    --heading-background-colour: rgb(36, 68, 36);
    --header-font-color: #caa964;

    --H1-font-color: #ca9115;
    --para-font-color: #caa964;

    --body-background-color: rgb(32, 51, 32);

    font-size: 16px;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    animation-fill-mode: both;
}

*::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  
    Animations
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
    
}

@keyframes close {
    from {grid-template-rows: 10vh 70vh 10vh;}
    to {grid-template-rows: 10vh 0vh 10vh;}
}

@keyframes scroll {
    from {top: 0vh;}
    to {top: -100vh;}
}

/*====================================================================
======================================================================  
    Font Elements
======================================================================
====================================================================*/

    h1 {
        padding-bottom: 1rem;
        font-size: 4rem;
        text-align: center;
        color: var(--H1-font-color);
    }

    h2 {
        padding: 1rem 0px;
        font-size: 1.5rem;
        text-align: center;
        text-align-last: center;
        color: var(--H1-font-color);
    }

    span {
        padding: 1rem 2rem;
        font-size: 1rem;
        text-align: center;
        color: var(--para-font-color);
    }

    ul {
        color: black;
        justify-self: left;
    }

    li {
        color: var(--para-font-color);
        text-decoration: none;
        text-align: left;
    }
    a {
        color: var(--para-font-color);
        text-decoration: none;
    }


/*====================================================================
======================================================================  
    Body Section
======================================================================
====================================================================*/

body {
    height: 100%;
    background-color: var(--body-background-color);
    overflow: none;
}

/*====================================================================
======================================================================  
    Header Section
======================================================================
====================================================================*/

header {
    /* Positioning on page */
    z-index: 1;
    position: sticky;
    top: 90vh;

    /* Box sizing */
    width: 100%;
    height: 10vh;

    /* Display settings */
    display: flex;

    /* Alignment of Childern */
    align-items: center;
    justify-content: space-evenly;

    /* Background Details */
    background-color: var(--heading-background-colour);
}

/*------------------------------------------------------------------- 
    Header Section / buttons (Class = Page-Navigation)
-------------------------------------------------------------------*/

header .Page-Navigation {
    background-color: #ffffff00;
    border: 0px;
    color: var(--header-font-color);
    font-size: 1rem;
}

header .Page-Navigation:hover {
    color: white;
 }

 header .Page-Navigation:active {
    color: orange; /*TO DO - Define Colour properly*/
 }

 header .exit{
    position: fixed;
    color: white;
    border: none;
    background-color: rgb(255, 255, 255, 0);

    top: 5%;
    right: 5vw;

    display: none;
}

/*====================================================================
======================================================================  
    Main Section
======================================================================
====================================================================*/

main {
    position: fixed;

    top: 0vh;

    height: 200%;
    width: 100vw;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 90vh 10vh 90vh 10vh;

    grid-template-areas: "Landing" "Buffer" "Content" "Buffer";

    overflow-y: scroll;
}



/*------------------------------------------------------------------- 
    Main Section / Buffer (Class = Buffer)
-------------------------------------------------------------------*/

main .Buffer {
    grid-area: "Buffer";
}

/*------------------------------------------------------------------- 
    Main Section / landing page (Class = Landing)
-------------------------------------------------------------------*/

main .Landing {
    width: 100vw;
    grid-area: "Landing";

    display: flex;
    opacity: 0;

    justify-content: center;
    align-items: center;

    /*<<<<<Animation>>>>>> to add in on final*/
    animation: fade 3s linear 1.5s 1 normal forwards;
}

.Landing img{
    min-width: 5vh;
    min-height: 50%;
    max-height: 100%;
}   

/*------------------------------------------------------------------- 
    Main Section / Content page (Class = Content)
-------------------------------------------------------------------*/

main .Content {
    grid-area: "Content";

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 0vh 10vh;
    grid-template-areas: "Upper" "Middle" "Lower";

    align-content: center;

    /*<<<<<Animation>>>>>> to add in on final*/
    /* animation: close 1.5s linear 1s 1 reverse forwards;  */
}

/*__________________________________________________________________ 
    Main Section / Content page (Class = Content)
    / #Upper (ID = Upper)
__________________________________________________________________*/

main #Upper {
    grid-area: "Upper";
    display: flex;

    justify-content: center;
}

/*__________________________________________________________________ 
    Main Section / Content page (Class = Content)
    / #Lower (ID = Lower)
__________________________________________________________________*/

main #Lower {
    grid-area: "Lower";
    display: flex;
    justify-content: center;
}

/*__________________________________________________________________ 
    Main Section / Content page (Class = Content)
    / #Middle (ID = Middle)
__________________________________________________________________*/

main #Middle {
    grid-area: "Middle";
    overflow-y: scroll;

    display: flex;

    flex-direction: column;
    align-items: center;
}

/* Main ... Middle ... Venue (ID = Venue) */
#Middle #Venue{
    background-color: none;
    max-width: 600px;
    display: none; /*Flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#MoatImg {
    max-width: 600px;
    height: auto;
}


/* Main ... Middle ... Taxi (ID = Taxi) */
#Middle #Taxi{
    background-color: none;
    max-width: 600px;
    display: none; /*Flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main ... Middle ... RSVP (ID = RSVP) */
#Middle #RSVP{
    background-color: none;
    display: none; /*Flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#RSVP object {
    height: 70vh;
    min-width: 600px;
    border: 10px solid goldenrod;
    border-radius: 10px;

    background-color: white;
    display: flex;
}

iframe {
    height: 70vh;
    min-width: 600px;
    border: 10px solid goldenrod;
    border-radius: 10px;

    display: flex;
}

/* Main ... Middle ... Photos (ID = Photos) */
#Middle #Photos{
    background-color: yellow;
    display: none;
}

/* Main ... Middle ... Other (ID = Other) */
#Middle #Entertainment{
    background-color: none;
    max-width: 600px;
    display: flex; /*Flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*====================================================================
======================================================================  
    Phone Settings
======================================================================
====================================================================*/

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 90vh 10vh 90vh 10vh;
    
        grid-template-areas: "Landing" "Buffer" "Content" "Buffer";
    }

    main .Landing {
        align-items: center;
    }
    
    .Landing img{
        flex:0.5;
        max-height: 50%;
    }   
    
    header {
        position: sticky;
    }

    main .Content {
        grid-area: "Content";
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 0 5%;
        grid-template-areas: "Upper" "Middle" "Lower";
    }

    /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  
        Animations
    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* 
    @keyframes fade {
        from {opacity: 0;}
        to {opacity: 1;}
        
    }

    @keyframes close {
        from {grid-template-rows: 5% 70% 5%;}
        to {grid-template-rows: 5% 0% 5%;}
    }

    @keyframes scroll {
        from {top: 0vh;}
        to {top: -105vh;}
    } */