@media only screen and (max-width: 600px) {

    html {
        overflow: hidden;
    }

    header {
        position: fixed;
        z-index: 1;
        top: 90vh;
    
        height: 10vh;
        width: 100%;
        background-color: black;

        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }

    header button {
        height: 40%;
    }

    main {
        position: relative;
        top: 0;

        background-color: blue;
        height: 100vh;

        display: grid;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 90vh 10vh 90vh 10vh;

        grid-template-areas: "LP MP RP" ". . . " "CP CP CP";
    }

    #Pannel_L{
        grid-area: LP;
        background-color: var(--Pannel-L-background-color);
    }

    #Pannel_M{
        grid-area: MP;
        background-color: var(--Pannel-M-background-color);
    }

    #Pannel_R{
        grid-area: RP;
        background-color: var(--Pannel-R-background-color);
    }

    #Pannel_C{
        grid-area: CP;
        background-color: var(--Pannel-C-background-color);
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Phone Settings / Header Styling
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    height: 10vh;
    width: 100%;
    background-color: var(--heading-background-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 0;
    margin: 0;
}

header button {
    height: 50%;
    flex: 1;

    background-color: rgb(255,255,255,0);
    border: none;
    font-size: small;
    color: #D2AB4B;
    text-transform: uppercase;
}

header button:hover {
    color: white;
}