
*{
    margin: 0;
    padding: 1;
}

*::-webkit-scrollbar{
    display: none;
}

body {
    background-color: var(--body-background-color) ;
    display: flex;
    justify-content: center;
}

.grid-container {
    max-width: 820px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-auto-rows: 1fr;
    grid-template-areas:
        'header'
        'contentcard';
    grid-gap: 10px;
}

.titleCard {
    grid-area: "header";
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContentCard{
    min-height: 500px;
    
    grid-area: "ContentCard";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
}

.ContentCard_R{
    min-height: 500px;
    
    grid-area: "ContentCard";
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
    align-content: space-between;
}

.ContentCardtext {
    flex: 1;
    margin: 0px 15px;
}

#moatin {
    flex: 1;
    background-image: url("/resources/Images/MoatInside.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;

    min-height: 40vh;
    margin: 10px;
}

#moatout {
    flex: 1;
    background-image: url("/resources/Images/moat.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 40vh;
    margin: 10px;
}

#moathotel {
    flex: 1;
    background-image: url("/resources/Images/MoatHotel.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;

    min-height: 40vh;
    margin: 10px;
}

#moatTaxi {
    flex: 1;
    background-image: url("/resources/Images/Fairway+Wedding+2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    

    min-height: 40vh;
    margin: 10px;
}

iframe {
    flex: 1;
    display: flex;
    align-self: stretch;
    justify-self: stretch;
}

img {
    max-height: 500px;
}


/*====================================================================
======================================================================  
    Font Elements
======================================================================
====================================================================*/

@media only screen and (max-width: 600px) {

    .grid-container {
     display: flex;
     flex-direction: column;
    }  
    .ContentCard{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .ContentCard_R{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .ContentCardtext {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #moatTaxi {
        background-size: cover;
    }
    

}