:root {
    font-size: calc(100vh/100vw);
    --heading-background-colour: #254D2F ;
    --header-font-color: #AF8C4B;

    --H1-font-color: #AF8C4B;
    --H2-font-color: #D89C49;

    --para-font-color: #d4b669;

    --body-background-color:#19331B;
}

*{
    margin: 0;
    padding: 1;
    font-family: "Alegreya";
}

*::-webkit-scrollbar{
    display: none;
}

body {
    background-color: var(--body-background-color) ;
    display: flex;
    justify-content: center;
}

.grid-container {
    max-width: 820px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 100px 1fr 1fr  ;
    grid-template-areas:
        'header header header header header header'
        'moatout moatout details details details details'
        'timing timing timing timing moatin moatin';
    grid-gap: 5px;
}

.hedding {
    grid-area: header;
}

.moatin {
    grid-area: moatin;
    background-image: url("/resources/Images/MoatInside.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;

    min-height: 40vh;
}

.moatout {
    grid-area: moatout;
    background-image: url("/resources/Images/moat.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;

    min-height: 40vh;

}

.details {
    grid-area: details;
    padding: 10px;
}

.timing {
    grid-area: timing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    width: 50%;
    text-align: left;


}

/*====================================================================
======================================================================  
    Font Elements
======================================================================
====================================================================*/

table *{
    color: var(--para-font-color);
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--H1-font-color);
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--H2-font-color);
}

p {
    color: var(--para-font-color);
    font-size: calc(100vh/100vw);
    text-align: left;
    text-align-last: center;
}

@media only screen and (max-width: 600px) {

    .grid-container {
     display: flex;
     flex-direction: column;
    }  
}